@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
html {
  font-size: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #2c3e50;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_100pt {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 0 5px lightblue;
          box-shadow: 0 0 5px lightblue;
  text-align: center;
  background-color: #f9fad8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_30pt {
  width: 30%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 0 5px lightblue;
          box-shadow: 0 0 5px lightblue;
  text-align: center;
  background-color: #f9fad8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_33pt {
  width: 33%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 0 5px lightblue;
          box-shadow: 0 0 5px lightblue;
  text-align: center;
  background-color: #f9fad8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_55pt {
  width: 55%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 0 5px lightblue;
          box-shadow: 0 0 5px lightblue;
  text-align: center;
  background-color: #f9fad8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_14pt {
  width: 14%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 0 5px lightblue;
          box-shadow: 0 0 5px lightblue;
  text-align: center;
  background-color: #f9fad8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_app {
  font-weight: 800;
  line-height: 1.45;
  margin: 0;
}

strong, .bold {
  font-weight: 600;
}

.center {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 500;
  line-height: 1.45em;
  text-shadow: 0px 0px 2px black;
}

h2 {
  font-size: 1.6rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid lightblue;
}

h1 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.25rem;
}

hr {
  margin: 1rem 0;
}

.form-control {
  position: relative;
  margin-bottom: 0.5rem;
}

.form-control label {
  display: block;
  margin: 0 0 0.3rem 0.3rem;
  font-weight: 500;
  text-align: start;
}

.form-control input {
  margin: 0;
  outline: none;
  border: 2px solid lightgrey;
  display: block;
  width: 100%;
  color: #2c3e50;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-control input:active,
.form-control input:focus {
  -webkit-transition: border 0.22s;
  transition: border 0.22s;
  border: 2px solid #2c3e50;
}

.form-control small {
  color: #e53935;
}

.form-control.invalid input {
  border-color: #e53935;
}

.bttn {
  position: relative;
  place-content: center;
  place-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  color: #f9fad8;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.8rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.22s;
  transition: all 0.22s;
}

.bttn:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 0 0 5px lightblue;
          box-shadow: 0 0 5px lightblue;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
  .card_100pt {
    width: 69%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_30pt {
    width: 34%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_55pt {
    width: 65%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_33pt {
    width: 33%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_14pt {
    width: 30%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  .container {
    max-width: 980px;
    padding: 0 14px;
  }
  .card_100pt {
    width: 69%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_30pt {
    width: 34%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_55pt {
    width: 65%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_33pt {
    width: 33%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_14pt {
    width: 30%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1224px) {
  html {
    font-size: 20px;
  }
  .container {
    max-width: 1200px;
    padding: 0 18px;
  }
  .card_100pt {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_30pt {
    width: 30%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_33pt {
    width: 33%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_55pt {
    width: 55%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_14pt {
    width: 14%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 5px lightblue;
            box-shadow: 0 0 5px lightblue;
    text-align: center;
    background-color: #f9fad8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=LightTheme.css.map */