// Variables
$mainBg: rgb(249, 250, 216);

// Mixins
@mixin card($width: 100%, $height: auto, $bg: $mainBg, $borderR: 1rem, $pad: 1rem, $mb: 0.5rem ) {
    width: $width;
    height: $height;
    background-color: $bg;
    border-radius: $borderR;
    padding: $pad;
    margin-bottom: $mb;
    box-shadow: 0 0 5px lightblue;
}

// Styles
.card_100pt {
    @include card();
    text-align: center;
}

.card_30pt {
    @include card(33%);
    text-align: center;
}

.card_50pt {
    @include card(55%);
}

.card_10pt {
    @include card(11%);
}

.card_0pt {
    @include card(0%);
}

.wrapper_switch {
    width: 80%;
    height: auto;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10%;
    text-align: center;
    padding: 5px;
    display: flex;
    align-self: center;
}

.header_app {
    font-weight: 800;
    line-height: 1.45;
    margin: 0;
}
